@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li
{
    list-style-type: none;
}

html, body, #wrapper
{
    min-width: 320px;
}

body
{
    font-family: "Lato", sans-serif;
}

.content
{
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px;
}

.block-one
{
    color: white;
    background: linear-gradient(0deg, rgba(235,64,44,1) 0%, rgba(217,6,81,1) 100%);

    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.block-one__nav
{
    display: flex;

    padding-bottom: 100px;

    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
}

.block-one__nav__logo
{
    font-size: 48px;
    font-weight: bold;
}
.block-one__nav__menu
{
    display: flex;

    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.block-one__nav__menu__item
{
    margin: 5px;
    padding: 5px 15px;

    cursor: pointer;
}

.block-one__content
{
    display: flex;

    margin: 50px;

    flex-flow: row nowrap;
    justify-content: space-between;
}

.block-one__content__image
{
    width: 500px;
    margin-bottom: -300px;

    background-image: url("../img/block-one_phone.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.block-one__content__heading
{
    font-size: 72px;

    margin: 50px 0;
}

.block-one__content__text
{
    font-size: 24px;
}

.block-one__content__button
{
    font-size: 18px;

    margin: 50px 0;
    padding: 15px 45px;

    cursor: pointer;
    transition: 1s all;

    color: black;
    border: 0;
    border-radius: 50px;
    background-color: white;

    mix-blend-mode: color-dodge;
}

.block-one__content__button:hover
{
    transform: scale(1.1) rotate(2deg);
}

.block-one__nav__button
{
    font-size: 36px;

    display: none;

    cursor: pointer;
    transform: rotate(90deg);
}

@media screen and (max-width: 1024px)
{
    .block-one__content__image
    {
        position: absolute;
        right: -13%;
    }
}

@media screen and (max-width: 768px)
{
    .block-one__content__textinfo
    {
        text-align: center;
    }
    .block-one__nav__menu
    {
        display: none;

        width: 100%;
        padding-top: 25px;

        flex-flow: column nowrap;
        order: 5;
    }
    .block-one__nav__menu__item
    {
        width: 100%;
        padding: 15px 0;

        text-align: center;
    }
    .block-one__nav__button
    {
        display: block;
    }
    .block-one
    {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
}

@media screen and (max-width: 425px)
{
    .block-one__content
    {
        justify-content: center;
    }
}

@media screen and (max-width: 375px)
{
    .block-one__content__heading
    {
        font-size: 56px;
    }
}

.block-two__content__heading, .block-three__content__heading
{
    font-size: 60px;
}

.block-two__content, .block-three__content
{
    display: flex;

    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.block-two__content__heading, .block-three__content__heading
{
    font-size: 60px;

    margin: 15px 25px;
}

.block-two__content__text, .block-three__content__text
{
    font-size: 18px;
    line-height: 32px;

    margin: 15px 25px;
}

.block-two__content__image, .block-three__content__image
{
    margin: 0 25px;
}

.block-two__content__image
{
    width: 500px;
    width: 800px;
    height: 550px;

    background-image: url("../img/block-two_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.block-three__content__image
{
    width: 500px;
    width: 800px;
    height: 550px;

    background-image: url("../img/block-three_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media screen and (max-width: 576px)
{
    .block-two__content__image, .block-three__content__image
    {
        display: none;
    }
    .block-two__content__heading, .block-two__content__text, .block-three__content__heading, .block-three__content__text
    {
        text-align: center;
    }
    .block-two__content__heading, .block-three__content__heading
    {
        font-size: 48px;
    }
}

.block-four__heading
{
    font-size: 60px;

    padding-bottom: 50px;

    text-align: center;
}

.block-four__content
{
    display: flex;

    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.block-four__content
{
    display: flex;

    flex-flow: row nowrap;
}

.block-four__content__item
{
    display: flex;

    max-width: 400px;
    margin: 25px;

    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: center;
}

.block-four__content__item__two img
{
    width: 65px;
    height: 65px;

    border-radius: 100%;
}

.block-four__content__item__two
{
    display: flex;

    padding-top: 25px;

    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}

.block-four__content__item__two p
{
    font-size: 18px;

    margin-left: 20px;
}

.block-four__content__item__two p span
{
    color: #667386;
}

.block-four__content__item__one
{
    padding: 25px;

    border: 1px solid #667386;
}

.four__content__item__one__text
{
    font-size: 18px;

    color: #667386;
}

.four__content__item__one__company
{
    font-size: 18px;

    padding-top: 15px;

    color: rgba(217,6,81,1);
}

@media screen and (max-width: 768px)
{
    .block-four__content
    {
        flex-flow: column nowrap;
    }
}
